# Worker muss MuseScore Studio 4.7.x sehen können.
MUSESCORE_EXE=/opt/musescore/AppRun
MUSESCORE_EXTENSION_DIR=/root/.local/share/MuseScore/MuseScore4/extensions/ensemble_transposer
WORKER_TOKEN=BITTE_EIN_LANGES_ZUFAELLIGES_TOKEN_SETZEN
QT_QPA_PLATFORM=offscreen
MAX_SCORE_BYTES=104857600
MAX_BATCH_BYTES=524288000
